<button><a routerLink="">Home</a></button>

<form #examForm="ngForm" (ngSubmit)="onSubmit()">

  <div *ngFor="let q of questions; let i = index" class="question-block" style="margin-bottom: 20px;">
    <h3>Q{{ i + 1 }}: {{ q.qtitle }}</h3>

    <div>
      <label>
        <input 
          type="radio" 
          name="question{{i}}" 
          [value]="q.option1" 
          [(ngModel)]="answers[i].answer" 
        
        />
        {{ q.option1 }}
      </label>
    </div>
    <div>
      <label>
        <input 
          type="radio" 
          name="question{{i}}" 
          [value]="q.option2" 
          [(ngModel)]="answers[i].answer" 
        
        />
        {{ q.option2 }}
      </label>
    </div>
    <div>
      <label>
        <input 
          type="radio" 
          name="question{{i}}" 
          [value]="q.option3" 
          [(ngModel)]="answers[i].answer" 
          
        />
        {{ q.option3 }}
      </label>
    </div>
    <div>
      <label>
        <input 
          type="radio" 
          name="question{{i}}" 
          [value]="q.option4" 
          [(ngModel)]="answers[i].answer" 
          
        />
        {{ q.option4 }}
      </label>
    </div>
    
   <div *ngIf="isExamFinished">
  <div *ngIf="isCorrect(q.id); else wrongBlock" style="color: green;">
    ✅ Correct
  </div>
  <ng-template #wrongBlock>
    <div style="color: red;">
      ❌ Wrong <br />
      Correct Answer: {{ getCorrectAnswer(q.id) }}
    </div>
  </ng-template>
</div>


</div>

    <hr />


  <button 
    type="submit" 
    
    style="padding: 8px 16px; font-size: 16px;"
  >
    Submit
  </button>

</form>

<div *ngIf="showScore">

  <h2>Your Score: {{Score}}/{{Total}}</h2>

</div>